.MessageShow {
    max-width: 55%;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 10%;
}

.eachMessage {
    font: 16px Helvetica, Arial, sans-serif;
    width: 100%;
    min-width: 40%;
    outline: none;
    transition: all 0.2s ease-in-out;
    border-style: solid;
    border-radius: 0.3rem;
    border-width: 0.1rem;
    border-color: rgb(0, 0, 0);
    padding: 8%;
    margin-top: 10%;
}

.edit {
    float: right;
    padding: 3px;
    margin: 3%;
}

.delete {
    float: right;
    padding: 3px;
    margin: 3%;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}