.Form {
    max-width: 60%;
    display: flex;
    margin: 0 auto;
    margin-top: 5%;
}

    input,
    textarea {
        font: 16px Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 7%;
        width: 100%;
        min-width: 40%;
        outline: none;
        transition: all 0.2s ease-in-out;
    }

    .nameInput {
        display: flex;
    }